/* Enter your custom styles here */
.fixedTable {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.fixedTable thead {
    visibility: hidden;
}

.bigMarginBottom {
    margin-bottom: 85px;
}

.sapMPage>section.sapMPageEnableScrolling::-webkit-scrollbar {
    display: none;
}

.footerSummaryButton span.sapMBtnInner.sapMBtnReject {
    background-image: none;
    background-color: #b00;
    border-color: #b00;
    border-top-color: rgb(187, 0, 0);
    border-right-color: rgb(187, 0, 0);
    border-bottom-color: rgb(187, 0, 0);
    border-left-color: rgb(187, 0, 0);
    color: #fff;
}

html.sap-desktop .employeeListToggleButton .sapMToggleBtnPressed{
    background-image: none;
    background-color: #50d7ff;
    border-color: transparent !important;
    color: #fff;
    text-shadow: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 55%;
    line-height: 32px !important;
}

.employeeListToggleButton .sapMBtnIcon {
    line-height: 2rem;
}

.employeeListToggleButton .sapMBtnInner {
    height: 2rem !important;
}

.footerListItemDark.sapMLIB {
    background: #444242 !important;
}
.footerListItemDark.sapMLIB * {
    color: #ffffff !important;
}

.paddingEnd {
    padding-right: 2rem !important;
}

.headerColumnText {
    max-width: 30px;
}

.mainPageFilterBar.sapUiCompFilterBar .sapMBtn.sapUiCompFilterBarPaddingRightBtn {
    padding-right: 0.5rem;
    visibility: hidden;
}

.roundedCornerSearchField .sapMSFF,
.roundedCornerSearchField .sapMInputBaseContentWrapper {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.selectorButton .sapMBtnInner{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: transparent !important;
}

.selectorButton[data-isbuttonselected="no"] .sapMBtnInner {
    border: 1px solid #969696;
}
.selectorButton[data-isbuttonselected="no"] * {
    color: #969696;
}

.selectorButton[data-isbuttonselected="yes"] .sapMBtnInner {
    border: 2px solid #005e08 !important;
}
.selectorButton[data-isbuttonselected="yes"] * :not(.sapMBtnIcon){
    color: #005e08 !important;
}

.selectorButton[data-isbuttonselected="yes"] .sapMBtnIcon{
    background-color: #50d7ff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 55%;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.5rem;
    text-align: center;
    padding-right: 0;
}